[submodule "dependencies/asio"]
	path = dependencies/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "dependencies/libfreenect2"]
	path = dependencies/libfreenect2
	url = https://github.com/OpenKinect/libfreenect2.git
[submodule "oi.clients/oi.client.rgbd.kinectsdk2"]
	path = oi.clients/oi.client.rgbd.kinectsdk2
	url = https://github.com/OpenIMPRESS/oi.client.rgbd.kinectsdk2.git
[submodule "oi.clients/oi.client.webcam"]
	path = oi.clients/oi.client.webcam
	url = https://github.com/OpenIMPRESS/oi.client.webcam.git
[submodule "oi.clients/oi.client.rgbd.libfreenect2"]
	path = oi.clients/oi.client.rgbd.libfreenect2
	url = https://github.com/OpenIMPRESS/oi.client.rgbd.libfreenect2.git
